# The Base URL is provided in the API documentation associated with the
# Swag Store exercise:
# https://vercel-swag-store-api.vercel.app/api/docs#description/authentication
#
# This value is used to construct the endpoints for the API client.
Api_Base_Url=https://vercel-swag-store-api.vercel.app/api

# The API token is used to populate the x-vercel-protection-bypass header.
# This value is provided in the API documentation:
#
# https://vercel-swag-store-api.vercel.app/api/docs#description/authentication
#
# This is a secret value and should not be committed to source control.
Api_Token=
