.header {
	display: grid;
	padding: 0 1rem;
	gap: 0.5rem;
	max-width: var(--layout-max-width);
	margin: 0 auto;
	grid-template:
		'logo cart' auto
		'nav nav' auto / 50% 50%;

	@media (width >= 40rem) {
		grid-template: 'logo nav cart' auto / auto 1fr auto;
		gap: 2rem;
		padding: 0;
	}
}

.logo {
	grid-area: logo;
}

.nav {
	grid-area: nav;
}

.cart {
	grid-area: cart;
	justify-self: end;
}
