.results {
	> ul {
		list-style: none;

		> li {
			margin-bottom: 1rem;
		}
	}

	/*
	The requirements state:

	> display up to 5 matching products in a responsive grid layout

	Since five is an odd number, the grid will either have a single row
	of five items, a single column of five items, or there will be one
	or or column with not enough items.
	*/
	@media (width >= 40rem) {
		> ul {
			--columns: 3;
			--column-width: 20rem;
			--column-gap: 1rem;

			display: flex;
			flex-flow: row wrap;
			gap: var(--column-gap);
			justify-content: flex-start;
			margin: 0 auto;
			max-width: calc(
				(var(--columns) * var(--column-width)) +
					((var(--columns) - 1) * var(--column-gap))
			);

			> li {
				margin: 0;
				width: var(--column-width);
				border: 1px solid var(--color-border);
				border-radius: 20px;
			}
		}
	}
}
