.image {
	position: relative;
	width: calc(100vw - 2rem);
	height: calc(100vw - 2rem);

	@media (width >= 40rem) {
		width: 20rem;
		height: 20rem;
	}
}

.detail {
	display: flex;
	justify-content: space-between;
	gap: 1rem;

	h3 {
		font-family: var(--font-orbitron);
	}

	p {
		font-family: var(--font-noto);
	}

	@media (width >= 40rem) {
		flex-direction: column;
		gap: 0.5rem;
		width: 20rem;
	}
}
