.hero {
	margin-bottom: 2rem;

	h1 {
		font-family: var(--font-orbitron);
		text-align: center;
		margin-bottom: 1.5rem;
	}

	p {
		font-family: var(--font-noto);
		margin-top: 1rem;
	}

	@media (width >= 40rem) {
		align-items: flex-start;

		h1 {
			text-align: left;
		}
	}
}
