.hero {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	h1 {
		font-family: var(--font-orbitron);
		text-align: center;
	}

	p {
		font-family: var(--font-noto);
	}

	> * {
		max-width: var(--layout-max-width);
		margin: 0 auto;
		width: 100%;
	}

	@media (width >= 40rem) {
		align-items: flex-start;

		h1 {
			text-align: left;
		}
	}
}
