.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;

	h1 {
		font-family: var(--font-orbitron);
		text-align: center;
	}

	p {
		font-family: var(--font-noto);
	}

	@media (width >= 40rem) {
		align-items: flex-start;

		h1 {
			text-align: left;
		}
	}
}
