.controls {
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 1rem;

	> p {
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	button[type='submit'] {
		font-family: var(--font-orbitron);
		font-size: 1rem;
		padding-inline: 1rem;
	}
}
