.nav {
	ol {
		display: flex;
		list-style: none;
		justify-content: space-around;

		@media (width >= 40rem) {
			justify-content: flex-start;
			gap: 1rem;
		}
	}

	a,
	span {
		font-family: var(--font-noto);
		text-decoration: none;
	}
}
