.item {
	display: flex;
	gap: 1rem;

	/* image container */
	> div {
		position: relative;
		width: 100px;
		height: 100px;
	}

	/* details container */
	> form {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		h3 {
			font-family: var(--font-orbitron);
		}

		p {
			font-family: var(--font-noto);
		}
	}
}
