.featured-products {
	h2 {
		font-family: var(--font-orbitron);
		max-width: var(--layout-max-width);
		margin: 0 auto;
		width: 100%;
	}

	ol {
		list-style: none;
		padding: 1rem;
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		max-width: var(--layout-max-width);
		justify-content: space-evenly;
		margin: 0 auto;
		width: 100%;
	}

	> div {
		overflow: hidden;

		> ol {
			touch-action: pan-y pinch-zoom;
			flex-wrap: nowrap;
			max-width: unset;
			margin: 0;
			width: unset;

			> li {
				flex: 0 0 100%;
				min-width: 0;
			}
		}
	}

	@media (width >= 40rem) {
		ol {
			gap: 2rem;
		}

		> div {
			> ol {
				> li {
					flex: 0 0 auto;
				}
			}
		}
	}
}
