.featured-products {
	> h2 {
		font-family: var(--font-orbitron);
		padding: 0 1rem;
	}

	> div {
		overflow: hidden;

		> ol {
			list-style: none;
			padding: 1rem;
			display: flex;
			touch-action: pan-y pinch-zoom;
			gap: 1rem;

			> li {
				flex: 0 0 100%;
				min-width: 0;
			}
		}
	}
}
