.banner {
	background-color: var(--color-inverse-bg);
	color: var(--color-inverse);
	padding: 1rem;
	margin-bottom: 2rem;

	h2 {
		font-family: var(--font-orbitron);
	}

	p {
		font-family: var(--font-noto);
	}
}
